fontdef(f)
	@font-face {
		font-family: f; 
		src: local( f ), url('/fonts/' + f + '.ttf') format('opentype')
	}
	

fontdef(Roboto-Black)
fontdef(Roboto-BlackItalic)
fontdef(Roboto-Bold)
fonddef(Roboto-BoldItalic)
fontdef(Roboto-Light)
fontdef(Roboto-LightItalic)
fontdef(Roboto-Medium)
fontdef(Roboto-MediumItalic)
fontdef(Roboto-Regular)
fontdef(Roboto-Thin)
fontdef(Inconsolata-Regular)
fontdef(Inconsolata-Bold)
fontdef(Oxygen-Regular)
fontdef(RobotoCondensed-Regular)
fontdef(RobotoCondensed-Light)
