
@font-face
	font-family Inconsolata-Regular
	src local(Inconsolata-Regular), url('./fonts/Inconsolata-Regular.ttf') format('opentype')


body
	font-size 22px
	color #777
	font-family Inconsolata-Regular, Times, serif

h1
	font-family Inconsolata-Regular, Times, serif
	color #777
